body{
    background-image: url(https://tse-mm.bing.com/th?q=Game%20Art%202d%20Background%20app);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: brown;
}
.btn{
    background-color: white;
}
.card{
    background-color: rgb(40, 229, 59);
}
footer{
    background-color: grey;
}